infrastructure/n8n/load_balancer_workflow.json
{
  "name": "Sisyphus Load Balancer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sisyphus-telemetry",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "sisyphus-telemetry-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.body.pending_chunks}}",
              "operation": "largerEqual",
              "value2": 1000
            }
          ]
        }
      },
      "name": "IF High Load",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.machines.dev/v1/apps/sisyphus-backend/machines",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "config",
              "value": "{\"image\":\"registry.fly.io/sisyphus-backend:latest\"}"
            }
          ]
        },
        "options": {}
      },
      "name": "Spin Up Fly.io Instance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fly-api-token",
          "name": "Fly API Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF High Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF High Load": {
      "main": [
        [
          {
            "node": "Spin Up Fly.io Instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
